<!doctype>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>gender-decoder-rs</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 15%">
        {{#if index}}
          <h1>gender-decoder.rs</h1>
          <p>Research shows that job ads are frequently written in a way that risks alienating women. While men rarely react to feminine coded words, the opposite is not true. Avoiding overtly masculine coding makes your ad more inclusive.<p>
          <p>A <a href="https://www.rust-lang.org/">rust</a> implementation of <a href="http://gender-decoder.katmatfield.com/">Kat Matfield's Gender Decoder</a>. The source code is on <a href="https://github.com/yuhama/gender-decoder-rs">Github</a>.</p>
        {{/if}}
        {{#unless index}}
          <h4>Job ad</h4>
          <p>{{ad_text}}</p>
        {{/unless}}
      </div>
      <div class="one-half column" style="margin-top: 15%">
        {{#if index}}
          <form action="/save" method="post" accept-charset="utf-8">
            <label for="ad_text">Paste your ad text here</label>
            <textarea class="u-full-width" name="ad_text"></textarea>
            <input class="button button-primary" type="submit" value="Check">
          </form>
        {{/if}}
        {{#unless index}}
          <h4>Feminine words</h4>
          <ul>
            {{#each feminine_words}}
              <li>{{this}}</li>
            {{/each}}
          </ul>

          <h4>Masculine words</h4>
          <ul>
            {{#each masculine_words}}
              <li>{{this}}</li>
            {{/each}}
          </ul>
        {{/unless}}
      </div>
    </div>
    <div class="row">
      <div class="four columns offset-by-four">
        <p class="footer">Made by <a href="https://github.com/yuhama">@yuhama</a></p>
      </div>
    </div>
  </div>
</body>
</html>
